<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card text-white bg-secondary mb-3" style="width:fit-content;">
                <div class="card-body">
                  <h1 class="card-title">
                    Work Experience</h1>
                  <p class="card-text"><p><p>Employer: Dotcom Software Projects (Pty) Ltd</p>
                  <p>Position: Solutions Business Analyst Intern</p>
                  <p>Duration: 01/09/2021 - 28/02/2022 (6 months)</p><br>
                  <h2 class="card-subtitle">
                    Duties Perfromed</h2>
                    <p>Assist senior analysts in gathering, validating, and documenting various system information and needs. </p>
                    <p>Document functional requirements of new projects</p>
                    <p>Participate in the system development life circle</p>
                    <p>Analysis of website support tickets and detailing of the requirements to be assigned to the developers on Azure DevOps board</p>
                    <p>Maintaining and verifying requirements specifications accordingly to make sure that all the requirements are met</p>
                    <p>Bridging the gap between the end-users and software developers, to ensure that product information is properly disseminated</p>
                    <p>Write JSON code on every screen of the website to be used to delineates how clients should request or edit data from a server, and how the server should respond to said requests from API</p><br>
                    <p> Front-end development of web support in Angular (HTML5, CSS, JavaScript, TypeScript, Bootstrap 5, node.js)</p>
                    <p>Analysis of Technical requests</p>
                    <p>Push code to git by creating a pull request</p>
                </div>
              </div>
        </div>
    </div>
</div>
