<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card text-white bg-secondary mb-3" style="width:fit-content;">
                <div class="card-body">
                  <h1 class="card-title">Work Experience</h1>
                  <p class="card-text"><p><p>Employer: Dotcom Software Projects (Pty) Ltd</p>
                  <p>Position: Solutions Business Analyst Intern</p>
                  <p>Duration: 01/09/2021 - 28/02/2022 (6 months)</p>
                </div>
              </div>
        </div>
    </div>
</div>
