<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card text-white bg-secondary mb-3" style="width:fit-content;">
                <div class="card-body">
                  <h1 class="card-title">
                    Work Experience</h1>
                  <p class="card-text"><p><p>Employer: Dotcom Software Projects (Pty) Ltd</p>
                  <p>Position: Cloud Solutions Intern</p>
                  <p>Duration: 01 Sep 2021 - 31 May 2022 (9 months)</p><br>
                  <h2 class="card-subtitle"> Duties Perfromed</h2>
                    <p>• Business Analysis and Front-end Angular Development</p>
                    <p>• Assist senior analysts in gathering, validating, and documenting various system information and needs. </p>
                    <p>• Document functional requirements of new projects</p>
                    <p>• Work closely with UI/UX Designer to implement Wireframes.</p>
                    <p>• Assist Software Testers in writing test cases (QA/UAT).</p>
                    <p>• Participate in the system development life circle</p>
                    <p>• Analysis of website support tickets and detailing of the requirements to be assigned to the developers on Azure DevOps board</p>
                    <p>• Maintaining and verifying requirements specifications accordingly to make sure that all the requirements are met</p>
                    <p>• Bridging the gap between the end-users and software developers, to ensure that product information is properly disseminated</p>
                    <p>• Write JSON code on every screen of the website to be used to delineates how clients should request or edit data from a server, and how the server should respond to said requests from API</p><br>
                    <p>• Front-end development of web support in Angular (HTML5, CSS, JavaScript, TypeScript, Bootstrap 5, node.js)</p>
                    <p>• Analysis of Technical requests</p>
                    <p>• Push code to git by creating a pull request</p> <br>

                  <p class="card-text"><p><p>Employer: Dotcom Software Projects (Pty) Ltd</p>
                  <p>Position: Cloud Solutions Intern</p>
                  <p>Duration: 01 Jun 2022 - Current</p><br>
                  <h2 class="card-subtitle"> Duties Perfromed</h2>
                    <p>•	Schedule and conduct JAD (Joint Application Development) sessions with project stakeholders.</p>
                    <p>•	Testing Development done (Quality Assurance).</p>
                    <p>•	UAT and documentation of test cases.</p>
                    <p>•	Gathering requirements during JAD session from project stakeholders.</p>
                    <p>•	Document the outcome of the JAD sessions as per best practice standards.</p>
                    <p>•	Draft business requirement specifications and or functional business requirement specifications.</p>
                    <p>•	Draw process flows and or activity diagrams to assist with the documentation of the business requirement specification.</p>
                    <p>•	Break down User Stories and management of Backlog.</p>
                    <p>•	Sign-off business requirement specifications with all applicable project stakeholders.</p>
                    <p>•	Assist with change management and related activities.</p><br>
                    <p>•	Assist with project management tasks and activities</p>
                    <p>•	Assist senior’s and team members with tasks and activities assigned.</p>
                    <p>•	Ensure sign-off on all documentation produced.</p>
                    <p>•	Ensure projects are completed within scope, time, and budget.</p>
                    <p>•	Apply business analysis standards in all areas of the SDLC</p>

                </div>
              </div>
        </div>
    </div>
</div>
