  <div style="background-color: white;"> 
    <h3>{{title}}</h3>
    
    <div class="circletag" id="nay">
      <img src="assets/zwothecv.png.PNG" alt="Profile Picture" class=".center img" >
    </div>
    <div>
      <br><h4>Zwothe Siwada</h4>
      <h5>Solutions Business Analyst Intern</h5>
    </div>
  
    <div  style="text-align: center;">
    <button class="button button1"  routerLink='/Education' >Education</button>
    <button class="button button2" routerLink='/Skills'>Skills</button>
    <button class="button button3"  routerLink='/Work Experience'>Work Experience</button>
    <button class="button button4"  routerLink='/Certificates'>Certificates</button>
    <button class="button button5" routerLink='/Reference'>Reference</button>
    </div>
    
    <div>
      <h4>Professional Summary</h4>
      <p>I am knowledgeable, performance driven, and detail-oriented IT Business 
        Analyst Intern & Front-End Angular Developer who excels at analyzing business needs and applying IT skills in 
        solving business problems. Possesses great technical expertise, high impact 
        communication skill and ability to perform well in a team. I always go an extra 
        mile to get things done. I am young, vibrant, energetic, enthusiastic, mind 
        unlocked and innovative candidate. I am result driven with strong attention to 
        details and have a sound understanding of business systems and handling 
        web support requests. I am a strong facilitator and articulated document 
        writer. I am passionate about my dreams and being an example to people 
        around me is what I desire and wake up for. Above all, I bridge the gap 
        between Business and Technology.</p>
    </div>
    <footer> 
      <a href="https://www.bing.com/maps?q=518+jopie+fourie+pretoria+north&cvid=b40f5699b4204bf29421dd04b3d4e508&aqs=edge..69i57j69i64.16236j0j1&pglt=43&FORM=ANNAB1&PC=LCTS " class= "test2 col-1" alt="address link" ><img src="https://img.icons8.com/windows/32/4a90e2/address.png" alt="address link"></a><p>Residential address: 518 Jopie Fourie, Pretoria North, 0182</p>
          <div class="row">
          <a href="mailto:siwadazwothe@gmail.com" class= "test2 col-1"><img src="https://img.icons8.com/fluency/48/000000/email-open.png" alt="email icon"></a>
          <a href="tel:+27631447909" class= "test2 col-1"><img src="https://img.icons8.com/fluency/48/000000/outgoing-call.png" alt="call me icon"></a>
            <a href="https://www.linkedin.com/in/siwada-zwothe/" class= "test2 col-1"><img src="https://img.icons8.com/color/48/000000/linkedin.png" alt="LinkedIn icon"></a>
      
      </div>
  
    </footer>
  </div>
  <router-outlet></router-outlet>

