<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card text-white bg-secondary mb-3" style="width:fit-content; align-content:center;">
                <div class="card-body">
                  <h1 class="card-title">Education</h1>
                  <h2 class="card-subtitle">Secondary Education</h2>
                  <p class="card-text"><p><p>Institution: Nwaridi Secondary Scholl</p>
                  <p>Qualification: NSC Matric - Bachelor</p>
                  <p>AVG 72%</p>
                  <p>Year Passed: 2017</p><br>
                  <h2 class="card-subtitle">Tertiary Education</h2>
                  <p class="card-text"><p><p>Institution: Tshwane University of Technology</p>
                  <p>Qualification: National Diploma in Information Technology: Business Applications</p>
                  <p>AVG 70%</p>
                  <p>Year completed: 2022</p><br>
                </div>
              </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>