<div class="container">
   <div class="raw">
      <div class="d-flex justify-content-center">
         <div class="card text-white bg-secondary mb-3" style="width:fit-content;">
            <div class="card-body">
              <h1 class="card-title">Skills</h1>
              <p class="card-text"><p><p>Business and Systems analysis</p>
              <p>JSON & XML</p> 
                 <p> DevOps</p>
                 <p>VB.Net</p>
                 <p> SQL & PL/SQL</p>
                 <p>Oracle</p>
                 <p>Angular (HTML, CSS, TS)</p>
                 <p> MS Server Management studio 18</p>
                 <p>Agile Methodology</p>
                 <p>MS office 2016</p>
                 <p>MS Teams and Outlook</p>
                 <p>C++ programming</p>
                 <p>Functional requirements documentation</p> 
                 <p>Hardware and Software support</p>
                 <p>Presentation and reporting skill</p>
                 <p>Metrics preparations and analysis</p>
                 <p>Financial analysis</p>
                 <p>Data modeling with Sybase</p>
                 <p>OOP analysis and development</p>
                 <p>Test plan development</p>
                 <p>UML, PM software and ERP</p>
                 <p>Software lifecycle</p>
                 <p>Analytical and research skill</p>
                 <p>Service Desk on demand & Zoho</p>
            </div>
          </div>
         
      </div>
   </div>
</div>